
*{
    margin: 0; 
    padding: 0;
    font-family: sans-serif; 
}

body{
    background-color: #66498B;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border: solid 2px wheat;
    border-radius: 8px;
    padding: 50px;
}

h1{
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    color: wheat;
}

.inputan{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    text-align: center;
}


input{
    margin-top: 20px;
    padding: 8px;
    background-color: transparent;
    border: 2px solid wheat;
    border-radius: 8px;
    color: wheat;
    height: 32px;
    width: 100%;
}

::placeholder{
    color: wheat;
}

button{
    display: block;
    margin: 10px;
    padding: 8px 12px;
    background-color: #5C5ADA;
    border-radius: 8px;
    border: 1px solid #5C5ADA;
    color: wheat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.finalresult{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
    padding: 8px 0;
    color: wheat;
    width: 100%;
}

.bmi-value,
.status{
    height: 32px;
    width: 200px;
    padding: 8px;
    border: 2px solid white;
    border-radius: 8px;
    text-align: center;
    color: wheat;
    width: 100%;
}

h4{
    text-align: center;
    color: wheat;
}
